<!doctype html>

<html>

<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link 
    rel="stylesheet" 
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" 
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" 
    crossorigin="anonymous">

    <link 
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous"  
    />

    <title>
        {% block title %} 
        base 
        {% endblock %}
    </title>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button 
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse" 
        data-bs-target="#navbarButtons"
        >
            <span class = "navbar-toggler-icon"></span>
        </button>

        <div class = "collapse navbar-collapse" id="navbarButtons">
            <div class = "navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" id="home" href="/">HOME</a>
                    <a class="nav-item nav-link" id="logout" href="/logout">LOGOUT</a>
                {% else %}
                    <a class="nav-item nav-link" id="login" href="/login">LOGIN</a>
                    <a class="nav-item nav-link" id="sign_up" href="/sign-up">SIGN-UP</a>
                {% endif %}
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {%if category == 'error'%}
                    <div class = "alert alert-danger alert-dismissible fade show" role="alert">
                        {{message}}
                        <button 
                        type="button" 
                        class="btn-close" 
                        data-bs-dismiss="alert">
                        </button>
                    </div>
                {% endif %}
                {%if category == 'success'%}
                    <div class = "alert alert-success alert-dismissible fade show" role="alert">
                        {{message}}
                        <button 
                        type="button" 
                        class="btn-close" 
                        data-bs-dismiss="alert">
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}



    <div class="conteiner">
        {% block content %} {% endblock %}
    </div>









    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" 
        crossorigin="anonymous"
    ></script>


    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js" 
        integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer"
    ></script>

    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js" 
        integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer"
    ></script>

    <script
        type="text/javascript"
        src="{{ url_for('static', filename='index.js') }}"
    ></script>

</body>

</html>